access.json
1. Base de dados detalhada por NCM/Exportação 2019-2024/EXP_2019.csv
1. Base de dados detalhada por NCM/Exportação 2019-2024/EXP_2020.csv
1. Base de dados detalhada por NCM/Exportação 2019-2024/EXP_2021.csv
1. Base de dados detalhada por NCM/Exportação 2019-2024/EXP_2022.csv
1. Base de dados detalhada por NCM/Exportação 2019-2024/EXP_2023.csv
1. Base de dados detalhada por NCM/Exportação 2019-2024/EXP_2024.csv
1. Base de dados detalhada por NCM/Importação 2019-2024/IMP_2019.csv
1. Base de dados detalhada por NCM/Importação 2019-2024/IMP_2020.csv
1. Base de dados detalhada por NCM/Importação 2019-2024/IMP_2021.csv
1. Base de dados detalhada por NCM/Importação 2019-2024/IMP_2022.csv
1. Base de dados detalhada por NCM/Importação 2019-2024/IMP_2023.csv
1. Base de dados detalhada por NCM/Importação 2019-2024/IMP_2024.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/.DS_Store
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Exportação 2019-2024/EXP_2019_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Exportação 2019-2024/EXP_2020_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Exportação 2019-2024/EXP_2021_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Exportação 2019-2024/EXP_2022_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Exportação 2019-2024/EXP_2023_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Exportação 2019-2024/EXP_2024_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Importação 2019-2024/IMP_2019_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Importação 2019-2024/IMP_2020_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Importação 2019-2024/IMP_2021_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Importação 2019-2024/IMP_2022_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Importação 2019-2024/IMP_2023_MUN.csv
2. Base de dados detalhada por Município da empresa exportadora:importadora e Posição do Sistema Harmonizado (SH4)/Importação 2019-2024/IMP_2024_MUN.csv
3. Estatísticas REPETRO contabilizadas em separado/exp_repetro.xlsx
3. Estatísticas REPETRO contabilizadas em separado/imp_repetro.xlsx
5. Tabelas de Correlações de Códigos e Classificações/ISIC_CUCI.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM_CGCE.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM_CUCI.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM_FAT_AGREG.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM_ISIC.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM_PPE.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM_PPI.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM_SH.csv
5. Tabelas de Correlações de Códigos e Classificações/NCM_UNIDADE.csv
5. Tabelas de Correlações de Códigos e Classificações/PAIS.csv
5. Tabelas de Correlações de Códigos e Classificações/PAIS_BLOCO.csv
5. Tabelas de Correlações de Códigos e Classificações/UF.csv
5. Tabelas de Correlações de Códigos e Classificações/UF_MUN.csv
5. Tabelas de Correlações de Códigos e Classificações/URF.csv
5. Tabelas de Correlações de Códigos e Classificações/VIA.csv
1. Base de dados detalhada por NCM/.DS_Store
